.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; height: 544px;}
        .bannerul {width: 1728px; height: 544px;} 
        
        
#filter_nav{
	width: 800px;
	margin: auto;
	height: 10px;
}

#page-models {
	margin-top: 0;
	margin-bottom: 4px;
	color: #fff;
	text-shadow: 1px 1px 1px #111;
	overflow: visible;
}

#page-models #content-body {
	width: 960px;
	margin: 0 auto 0 auto !important;
	padding: 0 !important;
}

#page-models {
	margin-top: 0px;
	margin-bottom: 0px;}
	
#models {
	margin:auto;
	width: 960px;
	height:auto;
}

.page-content{
	    background-color: darkgray;
	
}

.page-innercontent{
	width: 800px;
margin-left: auto;
margin-right: auto;
}